{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="text" style="float: left;margin-left: 20px;margin-top: 25px;">>>Dashboard</div>
<hr style="width: 98%;margin-left: 25px;">
</div>
<div class="container">
<table id="data" class="table table-striped table-responsive" style="font-size: 13px;">
<thead>
    <tr>
    <th>ID</th>
    <th>IP</th>
    <th>MAC</th>
    <th>Hostname</th>
    <th>Domain</th>
    <th>OS</th>
    </tr>
</thead>
<tbody>
    {% for scan in data %}
    <tr>
        <td>{{ scan.ID }}</td>
        <td><span>local </span>{{ scan.IP }}</td>
        <td>{{ scan.MAC }}</td>
        <td>{{ scan.Hostname }}</td>
        <td>{{ scan.Domain }}</td>
        <td>{{ scan.OS }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('#data').DataTable(
        {
        "bLengthChange": false,
        "bPaginate": true,
        "bFilter": true,
        "bInfo": true,
        "bAutoWidth": true,
        columns: [
            { orderable: true, searchable: true },
            { orderable: true, searchable: true },
            { orderable: true, searchable: true },
            { orderable: true, searchable: true },
            { orderable: true, searchable: true },
            { orderable: false, searchable: true },
      ],
    });
});

</script>
{% endblock %}
