{% extends "base.html" %}

{% block content %}

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>IP</th>
            <th>MAC</th>
            <th>Hostname</th>
            <th>Domain</th>
            <th>OS</th>
        </tr>
    </thead>
    <tbody>
            {% for scan in data %}
            <tr>
                <td>{{ scan.ID }}</td>
                <td>{{ scan.IP }}</td>
                <td>{{ scan.MAC }}</td>
                <td>{{ scan.Hostname }}</td>
                <td>{{ scan.Domain }}</td>
                <td>{{ scan.OS }}</td>
            </tr>
            {% endfor %}

    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                { orderable: false, searchable: true },
                { orderable: false, searchable: true },
                { orderable: false, searchable: true },
                { orderable: false, searchable: false },
                { orderable: false, searchable: false },
                { orderable: false, searchable: false }
                ],
        });
    });
</script>
{% endblock %}